body{
    margin:0;
}

.header{
    height: 100px;
    background-color: rgb(132, 132, 255);
    text-align: center;
    
}


.header h1{
    margin-top: 0;
    padding: 20px;
}

.menu{
    margin:0;
    padding: 0;
    width: 100%;
    background-color: rgb(229, 154, 203);
    top:5px;
    position: sticky;
}

.menu li{
    display: inline-block;
    text-align: center;
    width: 25%;
}

.menu li:hover,.menu li:focus{
    background-color: coral;
}


.menu a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.container{
    border: 2px solid blue;
    margin:10px;
    padding:0 20px;
}