body{
    margin:0;
    padding:0;
    font-family: cursive;
    height:100vh ;
    border:2px solid #764242;
}

.layout-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
    text-align: center;
}
.flex-header{
    padding: 20px;
    background-color:greenyellow ;
    border: 1px solid black ;
}

.flex-main-container{
    display: flex;
    flex-grow: 1;
}

.flex-nav,.flex-aside{
    background-color: crimson;
    padding: 10px;
}

.flex-article-section{
    background-color:rgb(53, 255, 171) ;
    padding: 10px;
    flex-grow:1;
}

.flex-footer{
    background-color: greenyellow;
    padding: 20px;
}


@media all and (max-width:600px){
    .flex-main-container{
        flex-direction: column;
    }
    .flex-aside,.flex-nav{
        flex-grow:1;
    }

    .flex-article-section{
        flex-grow: 1;
    }
}